img.logo
{
  max-width: 18%;
  max-height: 100%;
  padding-left: 10px;
  width: auto;
  height: auto;
  float: left;
}

img.login
{
  max-width: 85%;
  max-height: 85%;
  padding-right: 10px;
  padding-top: 5px;
  width: auto;
  height: auto;
  float: right;
}